/*

.button-welcome-tour {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 13px 19px;
    border-radius: 50%;
    height: 50px;
    transition: all .4s ease-in-out;
    z-index: 10000;
    overflow: hidden;
}

.button-primary {
    box-shadow: 1px 3px 5px rgba(0,0,0, 0.2);
}
*/