//grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:2rem;   //6rem

 /*<i class="fa fa-long-arrow-down" aria-hidden="true"></i>
<i class="fa fa-flag-checkered" aria-hidden="true"></i>
<i class="fa fa-cloud-download" aria-hidden="true"></i>
<i class="fa fa-shopping-cart" aria-hidden="true"></i>
<i class="fa fa-video-camera" aria-hidden="true"></i
<i class="fa fa-compass" aria-hidden="true"></i>
<i class="fa fa-headphones" aria-hidden="true"></i>
<i class="fa fa-user" aria-hidden="true"></i>
<i class="fa fa-user-o" aria-hidden="true"></i>
<i class="fa fa-whatsapp" aria-hidden="true"></i>
<i class="fa fa-twitter" aria-hidden="true"></i>
<i class="fa fa-google-plus" aria-hidden="true"></i>
<i class="fa fa-facebook-square" aria-hidden="true"></i>
<i class="fa fa-instagram" aria-hidden="true"></i>
<i class="fa fa-linkedin-square" aria-hidden="true"></i>
<i class="fa fa-comment" aria-hidden="true"></i>
<i class="fa fa-comment-o" aria-hidden="true"></i>   no bg


*/